@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --text-color: #111820;
    --primary-color: #18f2b2;
    --secondary-color: #b0fe76;
}

:root.dark {
    --background: #111820;
    --text-color: #ffffff;
    --primary-color: #18f2b2;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    font-size: 18px;
    font-family: "Nunito", system-ui, -apple-system, sans-serif;
}

.home-hero {
    background-color: #111820;
    padding-top: 4rem;
    padding-bottom: 4rem;
    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 1rem;
        color: #18f2b2;
    }
    h2 {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.02em;
        margin-bottom: 1rem;
        color: #18f2b2;
    }
    p {
        color: #fff;
        margin-bottom: 1.5rem;
    }
}

.services {
    background-color: #f3f3f3;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.iconBox {
    background-color: var(--text-color);
    padding: 1rem;
    border-radius: 50%;
}

.home-contact {
    background-color: #111820;
    padding-top: 4rem;
    padding-bottom: 4rem;
    h2 {
        color: var(--primary-color);
    }
    p,
    label {
        color: #fff;
    }
    button {
        background-color: var(--primary-color);
        color: #111820;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
    }
    button:hover {
        background-color: #fff;
    }
}

.footer-bg {
    background-color: #111820;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* blog related css */

.blogg {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 4rem;

    .blog-intro {
        font-size: 1.5rem;
        padding-top: 2rem;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    p {
        margin-bottom: 1.3rem;
    }

    ul {
        margin-bottom: 1.3rem;
        list-style-type: disc;
        padding-left: 1.4rem;
    }
    .home-contact {
        margin-top: 3rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
        border-radius: 30px;
        h2 {
            color: var(--primary-color);
        }
        p,
        label {
            color: #fff;
        }
        button {
            background-color: var(--primary-color);
            color: #111820;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
        }
        button:hover {
            background-color: #fff;
        }
    }
}
